


@font-face {
    font-family: 'Migra';
    src: url('https: //www.vslvgnc.com/Fonts/Migra%20-%20Free%20for%20Personal%20Use/Migra-Extralight.woff2') format('woff2'),
         url('https: //www.vslvgnc.com/Fonts/Migra%20-%20Free%20for%20Personal%20Use/Migra-Extralight.woff') format('woff'),
        url('https: //www.vslvgnc.com/Fonts/Migra%20-%20Free%20for%20Personal%20Use/Migra-Extralight.ttf') format('ttf'),
        url('https: //www.vslvgnc.com/Fonts/Migra%20-%20Free%20for%20Personal%20Use/Migra-Extralight.otf') format('otf'),
        url('https: //www.vslvgnc.com/Fonts/Migra%20-%20Free%20for%20Personal%20Use/Migra-Extralight.eot') format('eot');
         
    font-weight: normal;
    font-style: normal;

}